<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "notSupported.html" . -}}
        <div class="contentWrapper">
            {{- partial "navigation.html" . -}}
            <div class="main-content messageCurve">
                <div class="innerWrapper">
                    <img class="cuteHeader fullwidth" src="/Assets/Images/Boilerplate/notSupported.png">
                    <h1>Great Scott! A Ghost<span>...</span></h1>
                    <p>Sorry, but the page you are looking for couldn't be found.</p>
                    <p>Try checking the URL for errors, and refreshing the page. Alternatively, you can return to the <a href="/">homepage</a>.</p>
                </div>
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>