{{ if (isset .Site.Params "bufferblock") }}
<div class="fixed-width bufferBlock">
    <div class="flex four-column">
        {{ range .Site.Params.bufferblock }}
            <div class="col">
                <div class="bgImage" style="--image: url('{{ .Image | absURL }}')"></div>
                <div class="contentWrapper">
                    <h1>{{ .Name }}<span>.</span></h1>
                    <p>{{ .Description }}</p>
                    <a class="defaultButton" href="{{ .Action_URL }}">{{ .Action }}</a>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}