<div class="sidebar">
  <div class="branding sidebrand" style="display:none;">
      <div class="centralise">
        <a href="{{.Site.BaseURL}}"><img src="{{ "/Assets/Images/Tesco.svg" | relURL }}" alt="Tesco"><span>{{ .Site.Title }}</span></a>
      </div>
  </div>
  <ul class="userActions">
    <li><a href="{{ .Site.Params.baseEditURL }}"><i class="fab fa-github"></i>Repo</a></li>
    <li><a href="{{ .Site.Params.baseEditURL }}{{ replace .File.Path "\\" "/" }}"><i class="fas fa-edit"></i>Edit</a></li>
    <li><a href="{{ .Site.Params.Teams }}"><i class="fas fa-question"></i>Teams</a></li>
  </ul>

  <div class="sidebar_nav">
    <h2 style="margin-bottom:5px;">In this article...</h2>
    {{ .TableOfContents }}
  </div>

  {{ if not (.Params.hide_author)}}
    <div class="auth-block">
        {{ if (.GitInfo) }}
          <h2>Content Details</h2>
          <p><b>Updated:</b> <span>{{ .GitInfo.AuthorDate.Format .Site.Params.dateFormat }}<span></p>
          <p><b>Updated By:</b> <span><a href="mailto:{{ .GitInfo.AuthorEmail }}">{{ .GitInfo.AuthorName }}</a><span></p>
        {{ end }}
    </div>
  {{ end }}
</div>
