body {
    background-color: #26282A;
}

.header-wrapper, .footer, .dropdown, .main-content{
    background-color: rgba(48, 58, 68, 0.623) !important;
    color: white; 
    fill: white;
}

.main-content a, 
.main-content a:link,
.userActions li a,
.articleStats li,
.articleStats li:not(:first-child):before,
.userActions li:not(:first-child):before,
p,
h1,h2,h3,h4,h5,
.header-wrapper a,
.mainnav ul.dropdown li a,
.mainnav li a,
ul#results-container a
{
    color: white;
}

ul#results-container a:hover {
    color: #00539F;
}

.notices p {
    color: inherit;
}

.pannableItem {
    background-color: white;
}

.pannableItem .svgTitleGroup {
    color: black;
}

.mainnav ul.dropdown li a:hover,
.mainnav ul.dropdown li a:focus {
    color: #008dc8;
    text-decoration: none;
    background-color: #f6f6f628;
}

.quickactions li, 
.quickactions li svg,
.quickactions span,
.search_box input[type="search"],
ul#results-container {
    background-color: #26282A;
    border: 0px;
    color: white !important;

}

.search_box input[type="search"] {
    background: #26282A url(../Images/darkSearch.png) no-repeat 9px center;
}

.search_box input[type="search"]:focus, 
.search_box input[type="search"]:hover,
.search_box:focus-within input[type="search"],
#TableOfContents .is-active-li {
    background-color: #26282A;
}

.quickactions li:hover svg {
    background-color: #f6f6f628;
    color: white;
}

.messageContent {
    background: #2C333A;
    color: white;
}

section.header-image {
    box-shadow: 5px 5px 15px #55555538
}