/* Footer
------------------------------------------------------------------- */

.footer {
	width: 100%;
	margin: 20px 0px 40px auto;
	position: relative;
	clear: both;
	padding: 1.6875rem 0rem 1.6875rem 0rem;
	color: #666666;
	background-color: white;
	height: 200px;
	border-width: 1px 0px;
	border-color: #00000038;
	border-style: solid;
}

.footer-content {
	clear: left;
	margin: 0 auto;
	max-width: 1512px;
	padding: 0 10px;
	height: 100%;
}

.footer p {
	margin-bottom: 0px;
}

.footer-column {
  width: 25%;
  float: left;
  margin: 0px 10px;
}

.footer-small {
  width: 20%;
}

.footer-mid {
  width: 50%;
}

.right-text p {
  text-align: right;
}
