.circle-icon {
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 12px;
    height: 15px;
    width: 15px !important;
}

.square-icon {
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-radius: 30%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 12px;
    height: 25px;
    width: 25px !important;
    margin: 5px;
}

.centralise {
  width: 71%;
  margin: 25px auto;
}

.userActions {
  display: block;
  padding: 0;
  text-align: center;
}

.userActions li {
  display: inline;
  font-weight: bold; 
  font-size: 15px;
}

.userActions svg {
  margin-right: 5px;
}

.userActions li:not(:first-child):before, 
.articleTitle li:not(:first-child):before {
  content: "\25A0";
  vertical-align: 0.2em;
  font-size: 10px;
  color: #2d2c2cc7;
  padding: 10px;
}

.user-content img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}

pre:not(.tabbed) {
  background:#272822;
  border: 1px solid #ddd;
  border-left: 3px solid #00539F;
  color: white;
  page-break-inside: avoid;
  font-family: 'Consolas', 'Monaco', 'Courier New';
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;  
}

code:not(.tabbed) {
  background: #2728228a;
  color: white; 
  padding: 0px 5px;
}

details {
  background: #8080800a;
  padding: 20px;
  margin: 10px 0px;
}

summary {
  outline: none; 
  padding-bottom: 10px;
}

details:hover {
  cursor: pointer;
}

details ol {
  counter-reset:li;
  margin-left:0;
  padding-left:0;
}

details ol > li {
  position:relative;
  margin:0 0 6px 2em;
  padding:4px 8px;
  list-style:none;
  border-top:2px solid #00539F;
    font-size: 18px;
    margin-top: 20px;
}

details li > ul {
    list-style: square;
    padding-left: 30px;
}

details li > ol > li {
    font-size: 15px;
}

details ol > li:before {
  content:counter(li);
  counter-increment:li;
  position:absolute;
  top:-2px;
  left:-2em;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:2em;
  margin-right:8px;
  padding:4px;
  border-top:2px solid #00539F;
  color:#fff;
  background:#00539F;
  font-weight:bold;
  font-family:"Helvetica Neue", Arial, sans-serif;
  text-align:center;
}
details li ol, details li ul {margin-top:6px;}
details ol ol li:last-child {margin-bottom:0;}

.articleTitle h1 {
  border: none;
  font-size: 45px;
}

.articleTitle ul {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #2d2c2cc7;
}

.articleTitle ul li {
  display: inline; 
}

.articleTitle #gitMessage {
  font-family: 'Consolas', 'Monaco', 'Lucida Console';
  font-weight: 100
}

div.bgImage {
  width: 100%;
  height: 100%;
  background-image: var(--image);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: blur(2px) brightness(35%);
  -webkit-filter: blur(2px) brightness(35%);
}

h1 > span {
  color: #EE1C2E;
}

.col > .contentWrapper {
  position: relative;
  top: -220px;
  padding: 20px;
  background-color: #80808075
}

.col > .contentWrapper {
  text-shadow: 2px 2px #0a1922ab;
}

.col > .contentWrapper:not(h1) {
  color: white;
}

.col > .contentWrapper h1 {
  margin: 0;
}

.defaultButton {
  width: fit-content;
  height: 20px;
  border: 1px solid white;
  display: block;
  padding: 5px 10px;
  font-size: 18px; 
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  transition: all 0.25s;
}

.defaultButton:hover {
  color: #00539F;
  border: 1px solid #00539F;
}

/* Addon: 404 Page
------------------------------*/

.messageCurve {
  border-radius: 15px 50px 30px;
  max-width: 30%;
  margin-top: 20px;
  width: 500px;
  padding: 20px;
  display: table;
}

.messageCurve > div {
  display: table-cell;
  vertical-align: middle;
}


/* Addon: Dashboard 
------------------------------*/
.enforcedheight {
  min-height: calc(100vh - 200px);
}

.dashboard .headerContent {
  height: 400px;
  position: relative;
}

.dashboard .headerContent > .bgImage {
  opacity: 0.8;
}

.dashboard #subscriptions {
  border-top: 2px solid #4e5156;
}

.dashboard .subscriptionWrapper {
  position: relative;
  top: -125px;
  width: fit-content; 
  max-width: 85%;
  margin: 0 auto;
}

.dashboard #subscriptionList {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.dashboard .subscription {
  width: 250px;
  height: 250px;
  background-color: #26282A;
  border-radius: 15px 50px 30px;
  box-shadow: 5px 5px #4e51565c;
  border: 1px solid #4e51565c;
  display: inline-block;
  margin: 30px;
}

  .dashboard a {
    color: white;
  }

  .dashboard .exeedingStandards {
      box-shadow: 5px 5px #128712;
  }

  .dashboard .needsWork {
    box-shadow: 5px 5px #aa6c39d0;
  }

  .dashboard .belowStandards {
    box-shadow: 5px 5px #8b0000b2;
  }

  .dashboard .subscription span {
    display: block; 
  }

  .dashboard .subscription .header {
    border-bottom: 1px solid white;
    background-color: #1F1F21;
    border-radius: 0px 50px 0px 0px;
    padding: 10px;  
  }

  .dashboard .subscription .name {
    font-family: "Tesco", "Arial", "sans-serif";
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;    
  }

  .dashboard .subscription .contentWrapper {
    margin: 10px;
    text-align: center; 
  }

  .dashboard .subscription .breakdown {
    width: 50%;
    display: inline-block;
    padding: 0px 20px;
  }

    .dashboard .subscription .breakdown canvas {
      width: 100%; 
    }

  .dashboard .subscription .totals {
    list-style: none;
    float: right; 
    padding: 15px 14px 0px 0px; /*30px 14px 0px 0px*/
  }

.dashboard .controlWrapper {
  position: absolute; 
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #26282A;
  padding: 10px; 
  height: 30px;
}