.header-image {
    padding: 30px;
    background-color: #eef3f6;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 15px #555;
}

.header-image .outer-container {
    padding: 30px;
    text-align: center;
    width: 100%;
}

.header-image .inner-container {
    margin: auto;
    flex: 0 0 66.66667%;
}

.inner-container h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 2rem;
    border-bottom: none !important;
    font-size: 60px;
}

.inner-container p {
    color: white;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    width: 70%;
    font-size: 20px;
}

/* Knowledgebase
------------------------------*/

.topics {
    padding: 50px 0px 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-category {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
}

.container-category .grid {
    flex: 0 0 32%;
    max-width: 30%;
    padding: 5px;
}

.topics-wrapper h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.topics-wrapper.border {
    border: 3px solid #e1e8ee;
    min-height: calc(100% - 20px);
    position: relative;
}

.topics-wrapper.border h3 {
    padding: 20px 40px 0px 25px;
    font-size: 30px;
}

.topics-wrapper .topics-list {
    padding: 10px 40px;
    padding-left: 0px;
    text-overflow: ellipsis;
    margin-top: 0;
}

.topics-wrapper .topics-list li {
    list-style: none;
    line-height: 35px;
    position: relative;
    padding-left: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topics-wrapper .topics-list li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f570";
    margin-right: 5px;
}

.topics-wrapper .topics-list li a {
    color: #86939e;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    outline: 0 none;
}

.topics-wrapper .topics-list li a:hover {
    border-bottom: 1px dotted #00539F;
    color: #EE1C2E;
}

.grid .meta {
    background: #f5f8fa;
    padding: 7px 10px;
    text-align: center;
    border-top: 1px solid #e1e8ee;
    position: relative;
    top: -35px;
    z-index: -1;
}
