@font-face {
    font-family: 'Tesco';
    font-weight: bold;
    src: url('../Fonts/TescoBold.woff') format('woff');
}

@font-face {
    font-family: 'Tesco';
    font-weight: normal;
    src: url('../Fonts/TescoRegular.woff2') format('woff2');
}

* {
    font-family: Tesco, Arial;
    text-decoration: none;
}

body {
    margin: 0px;
	overflow-x: hidden;
	background-color: #F2F3F3;
	position: absolute;
	width: 100%;
}

video {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

.fixed-width {
	max-width: 1532px;
	width: 85%;
	margin: 0 auto;
}

.main-content {
	max-width: 1512px;
	margin: 0 auto 20px auto;
	min-height: calc(100vh - 500px);
	background: white;
	padding: 0px 10px;
	border-color: #00000038;
	border-width: 0px 1px 1px;
	border-style: solid;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.08), -12px 0 8px -4px rgba(0, 0, 0, 0.08);
}

.flex.four-column {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
	margin: auto;
}

.flex.four-column .col {
	width: 24%;
	border-color: #00000038;
	border-width: 0px 1px 1px;
	border-style: solid;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.08), -12px 0 8px -4px rgba(0, 0, 0, 0.08);
	min-height: 400px;
	max-width: 504px;
}

.user-content {
    width: 77%;
    margin-left: 30px;
    display: table;
	margin: 0 auto;
	padding-bottom: 30px;
}

.sidebar {
    width: 316px;
	float: left;
	padding-right: 5px;
	margin-bottom: 150px;
}

.fullwidth {
  width: 100%;
}

/* Not Supported Styles
------------------------------*/

.notSupported {
	display: none;
	width: 70%;
	height: 99vh;
	margin: auto;
}

.notSupported .messageWrap {
	vertical-align: middle;
	display: table-cell;
	text-align: justify;
}

.messageContent {
	padding: 30px;
	border: 1px solid #DCDCDC;
	border-radius: 15px 50px 30px;
	box-shadow: 0 0 9px #DCDCDC;
	background-color: white;
}

.notSupported .cuteHeader {
	width: 100%;
}

.notSupported .logo {
	width: 30%;
	padding: 10px;
}

/* Typography
------------------------------*/
h1 {
    margin-top: 0;
    line-height: 45px;
    margin: 0px;
}

h2 {
    margin: 0.25em 0 0 0;
}

h1, h2, h3, h4, h5 {
    color: #00539F;
    margin: 0.25em 0 0 0;
    padding: 0px;
}

h1 a, 
h2 a,
h3 a,
h4 a,
h5 a {
	opacity: 0;
}
  
h1:hover a, 
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
opacity: 1
}

h3, h4, h5 {
    font-weight: initial;
}

p {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: normal;
    /* Non standard for webkit */
    word-break: normal;
    margin: 0px 0px 15px 0px;
}

/* Hyperlinks
------------------------------*/

.main-content a {
  transition: all .4s;
  color: #00539f;
  text-decoration: none;
  line-height: inherit;
}

/* Tables
------------------------------*/
table {
    width:100%;
	border-collapse: collapse;
	border-spacing: 0;
    background: #fff;
	margin-bottom: 1.25rem;
    margin-top: 1rem;
	border: solid 1px #ddd;
	table-layout: auto
}

td,
th {
	padding: 0
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 81.25rem
}

.row:before,
.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.row.collapse>.column,
.row.collapse>.columns {
	padding-left: 0;
	padding-right: 0
}

.row.collapse .row {
	margin-left: 0;
	margin-right: 0
}

.row .row {
	width: auto;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none
}

.row .row:before,
.row .row:after {
	content: " ";
	display: table
}

.row .row:after {
	clear: both
}

.row .row.collapse {
	width: auto;
	margin: 0;
	max-width: none
}

.row .row.collapse:before,
.row .row.collapse:after {
	content: " ";
	display: table
}

.row .row.collapse:after {
	clear: both
}

.column,
.columns {
	padding-left: .9375rem;
	padding-right: .9375rem;
	width: 100%;
	float: left
}

[class*="column"]+[class*="column"]:last-child {
	float: right
}

[class*="column"]+[class*="column"].end {
	float: left
}

table caption {
	background: transparent;
	color: #222;
	font-size: 1rem;
	font-weight: bold
}

table thead {
	background: #D7D7D7
}

table thead tr th,
table thead tr td {
	padding: .5rem .625rem .625rem;
	font-size: .875rem;
	font-weight: bold;
	color: #222
}

table tfoot {
	background: #D7D7D7
}

table tfoot tr th,
table tfoot tr td {
	padding: .5rem .625rem .625rem;
	font-size: .875rem;
	font-weight: bold;
	color: #222
}

table tr th,
table tr td {
	padding: .5625rem .625rem;
	font-size: .875rem;
	color: #222;
	text-align: left
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
	background: #E4E4E4
}

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
	display: table-cell;
	line-height: 1.125rem
}

.th {
	line-height: 0;
	display: inline-block;
	border: solid 4px #fff;
	max-width: 100%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease-out
}

.th:hover,
.th:focus {
	box-shadow: 0 0 6px 1px rgba(51, 77, 92, 0.5)
}

.th.radius {
	border-radius: 3px
}

.forcedwidth {
    width: 100% !important
}
