<div class="pannableItem">
    {{ $userFile := .Get "src" }}
    {{ $title := .Get "title" }}
    {{ $subTitle := .Get "subTitle" }}
    {{ if ne $title nil }}
        <div class="svgTitleGroup">
            <span class="svgTitle">{{ $title }}</span>
            {{ if ne $subTitle nil }}
                <span class="svgsubTitle">{{ $subTitle }}</span>
            {{ end }}
        </div>
    {{ end }}
    <object onload="loadSVGPZ()" type="image/svg+xml" data="{{ $userFile | absURL }}" class="pannableSVG"></object>
</div>
