.pannableSVG {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.pannableItem {
    border: 1px dotted black;
}

.svgTitleGroup {
    width: calc(100% - 40px);
    position: relative;
    top: 20px;
    right: -20px;
}

.svgTitleGroup .svgTitle {
    font-weight: bold;
}

.svgTitleGroup .svgsubTitle {
    font-weight: normal;
    float: right;
}
